extends default
---

dl
  dt Reference
  dd: a(href=reference)= reference 
  | (
  |= reference_type
  | )

  dt Source
  dd: a(href=source)= source
  | (
  |= source_type
  | )

  dt Tool
  dd= tool

  dt Community
  dd= community

  dt Pattern
  dd= pattern

!= content
